$MyWarna: (
  "warna-dasar": #f2e3db,
  "warna-dasar2": #41644a,
  "warna-dasar3": #263a29,
  "warna-dasar4": #e86a33,
);

$MyWarna2: (
  "warna-dasar": #edf1d6,
  "warna-dasar2": #9dc08b,
  "warna-dasar3": #609966,
  "warna-dasar4": #40513b,
);

.Footer {
  width: 100%;
}
.Container {
  &-Page {
    background-color: map-get($MyWarna2, "warna-dasar");

    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
  }
  &-Kotak {
    width: 80%;
  }
}

.DarkFont {
  color: map-get($MyWarna, "warna-dasar4") !important;
}

@media screen and (max-width: 1100px) {
  .Container {
    &-Kotak {
      width: 95%;
    }
  }
}
